<button
  class="navbar-toggler"
  type="button"
  data-bs-toggle="offcanvas"
  data-bs-target="#offcanvasDarkNavbar"
  aria-controls="offcanvasDarkNavbar"
  aria-label="Toggle navigation"
>
  <span class="navbar-toggler-icon"></span>
</button>
<div
  class="offcanvas offcanvas-end text-bg-primary"
  tabindex="-1"
  id="offcanvasDarkNavbar"
  aria-labelledby="offcanvasDarkNavbarLabel"
>
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">
      Hello {{user}}. Have a nice day
    </h5>
    <button
      type="button"
      class="btn-close btn-close-white"
      data-bs-dismiss="offcanvas"
      aria-label="Close"
    ></button>
  </div>
  <div class="offcanvas-body">
    <ul class="navbar-nav flex-grow-1 me-auto">
      <li class="nav-item dropdown">
        <a
          class="nav-link dropdown-toggle"
          href="#"
          role="button"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          Kontak
        </a>
        <ul class="dropdown-menu">
          <li data-bs-dismiss="offcanvas">
            <a class="dropdown-item" href="{% url 'kontak:index' %}">Kontak</a>
          </li>
          <li>
            <hr class="dropdown-divider" />
          </li>
          <li data-bs-dismiss="offcanvas">
            <a class="dropdown-item" href="{% url 'kontak:add' %}"
              >Kontak Add</a
            >
          </li>
        </ul>
      </li>
      <hr />
      <li class="nav-item dropdown">
        <a
          class="nav-link dropdown-toggle"
          href="#"
          role="button"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          Inventaris
        </a>
        <ul class="dropdown-menu">
          <li data-bs-dismiss="offcanvas">
            <a class="dropdown-item" href="#">Inventaris</a>
          </li>
          <li>
            <hr class="dropdown-divider" />
          </li>
          <li data-bs-dismiss="offcanvas">
            <a class="dropdown-item" href="#">Inventaris Add</a>
          </li>
        </ul>
      </li>
      <hr />
      <li class="nav-item dropdown">
        <a
          class="nav-link dropdown-toggle"
          href="#"
          role="button"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          Penjualan
        </a>
        <ul class="dropdown-menu">
          <li data-bs-dismiss="offcanvas">
            <a class="dropdown-item" href="#">Penjualan</a>
          </li>
          <li>
            <hr class="dropdown-divider" />
          </li>
          <li data-bs-dismiss="offcanvas">
            <a class="dropdown-item" href="#">Penjualan Add</a>
          </li>
        </ul>
      </li>
      <hr />
    </ul>
    <div class="d-grid gap-2">
      <a href="#" class="border btn btn-primary">Logout</a>
    </div>
  </div>
</div>
