{%extends "base.html"%} {%block apps%} {%include "kontak/navbar.html"%}
<div class="container-fluid">
  <div class="card border-primary">
    <div class="card-header text-bg-primary">
      <div class="row row-cols-auto">
        <div class="col h3 me-auto">Detail Kontak</div>
        <div class="col">
          <a
            href="{% url 'kontak:edit' data.id %}"
            class="btn btn-outline-light me-3"
            title="Edit"
          >
            {% include "components/svg_edit.html" %}
          </a>
          <button
            type="button"
            class="btn btn-outline-light"
            data-bs-toggle="modal"
            data-bs-target="#modalDeleteData"
            title="Delete"
          >
            {% include "components/svg_delete.html" %}
          </button>
        </div>
      </div>
    </div>
    <div class="card-body">
      <fieldset disabled="disabled">
        <div class="row mb-3">
          <div class="col">
            <label class="mb-2">Nama</label>
            <input class="form-control" value="{{data.nama}}" />
          </div>
          <div class="col">
            <label class="mb-2">Email</label>
            <input class="form-control" value="{{data.email}}" />
          </div>
        </div>
        <div class="row mb-3">
          <div class="col">
            <label class="mb-2">Gender</label>
            <input class="form-control" value="{{data.gender}}" />
          </div>
          <div class="col">
            <label class="mb-2">Phone</label>
            <input class="form-control" value="{{data.phone}}" />
          </div>
        </div>
        <div>
          <label class="mb-2">Alamat</label>
          <textarea class="form-control" rows="10">{{data.alamat}}</textarea>
        </div>
      </fieldset>
    </div>
  </div>
</div>

<!-- Modal Delete -->
<div
  class="modal fade"
  id="modalDeleteData"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header bg-primary">
        <h1 class="modal-title fs-5 text-white" id="exampleModalLabel">
          Peringatan
        </h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        Apakah Kamu yakin akan menghapus data tersebut...?
      </div>
      <div class="modal-footer">
        <a href="{% url 'kontak:delete' data.id %}" class="btn btn-primary"
          >Iya</a
        >
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">
          Tidak
        </button>
      </div>
    </div>
  </div>
</div>

{%endblock apps%}
